# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Node.js
node_modules/
build/
dist/

# Dataset (ignore actual images/videos)
backend/dataset/*
!backend/dataset/.gitkeep

# OS files
.DS_Store
Thumbs.db
